# Twitter with twarc
A UCSB original Carpentry workshop

You should have a hashtag_gasprices.jsonl file. We made it for you using the code below.

*This version of the file has most quota-consuming and long-output lines
commented out

In [ ]:
# we made this file for you
# ! twarc2 search "#gasprices" > raw_data/hashtag_gasprices.jsonl

In [ ]:
# administravia
# upon re-start we need to install twarc2 and other extensions
! pip install twarc-csv
! pip install emoji

# Episode 2

In [ ]:
# hashes are comments

print('hello world')

In [ ]:
# BASH commands start with a BANG!
!twarc2 --help

In [ ]:
#  what libraries will we need to be loading in our notebook?
#  we need to always distinguish between 
#  running BASH vs. running a line of python.

import pandas
import twarc_csv
import textblob
import nltk
import os
import emoji

In [ ]:
# this comes into play for ep 8
!python -m textblob.download_corpora
nltk.download('stopwords')

In [ ]:
# and of course, it's important to know where we are working
# I can send a BASH command from my notebook with a !:
!pwd

In [ ]:
# you can also do this with Python
os.getcwd()

In [ ]:
# we can change if we need
# os.chdir(".....")

In [ ]:
os.getcwd()

## Running twarc
Let's get the timeline of one of twarc's creators.

In [ ]:
# !twarc2 timeline BergisJules > raw_data/bjules.jsonl

### Challenge 1
- Can you find the file called “bjules_flat.jsonl”?
- How many tweets did you get from Bergis? (we can't tell without flattening or looking at the output)
- Download a timeline for a person of your choice. How many tweets did you get? 
- What’s the oldest one?

In [ ]:
# !twarc2 timeline ecodatasci > raw_data/ecodatasci.jsonl
! twarc2 flatten raw_data/ecodatasci.jsonl > output_data/ecodatasci_flat.jsonl
! wc output_data/ecodatasci_flat.jsonl

A straight harvest using search or stream doesn't need to be flattened 
to do our most basic analysis: wc. Do gas prices here?

## To flatten or not flatten

### Make your jsonl 1 tweet per line
Flattening will let you do our most basic unix-y analysis, turn
timelines into countable lists, and enable you to run twarc1
utilities later on in the workshop

In [ ]:
# timeline objects need to be flattened in order to be analyzed as tweets
!twarc2 flatten raw_data/bjules.jsonl output_data/bjules_flat.jsonl

## Convert to csv

In [ ]:
!twarc2 csv raw_data/bjules.jsonl output_data/bjules.csv

## When we look at bjules, we really do need to flatten it.

In [ ]:
! wc raw_data/bjules.jsonl

33 lines doesn't mean 33 tweets. I suspected there was more there because
I got an error message about hitting a limit of 3200. 

And below, the csv converter tells us there are 3143 tweets.

In [ ]:
# convert
!twarc2 csv raw_data/bjules.jsonl output_data/bjules.csv

In [ ]:
# once I flatten it, my wc will show the correct number
! wc output_data/bjules_flat.jsonl

In [ ]:
# When I did this, I got 3166 tweets (as opposed to the 33 lines that the original file was)
! wc output_data/bjules_flat.jsonl
! wc output_data/bjules.csv

The csv is 1 line longer because it has column headers.
twarc2 csv takes flat or unflattened Twitter data files.

### Challenge 2

In [ ]:
# commented line is a solution to challenge 1
# !twarc2 timeline ecodatasci > raw_data/ecodatasci.jsonl

!twarc2 flatten raw_data/ecodatasci.jsonl > output_data/ecodatasci_flat.jsonl
!twarc2 csv output_data/ecodatasci_flat.jsonl > output_data/ecodatasci.csv 
ecodatasci_df = pandas.read_csv("output_data/ecodatasci.csv")

# Episode 3: examining tweets
What comes along with a tweet
- Look at one_tweet in Jupyter viewer
- Look at one_tweet with nano
- Look at tweet as csv
- Look at all the entities of a tweet

In [ ]:
! wc raw_data/hashtag_gasprices.jsonl

! twarc2 flatten raw_data/hashtag_gasprices.jsonl > output_data/hashtag_gasprices_flat.jsonl

! wc output_data/hashtag_gasprices_flat.jsonl

In [ ]:
### Let's look at a single tweet as a csv:
!twarc2 flatten raw_data/one_tweet.jsonl output_data/one_tweet_flat.jsonl
!twarc2 csv output_data/one_tweet_flat.jsonl output_data/one_tweet.csv

## first and last tweets

In [ ]:
! cat output_data/4_tweets.jsonl

In [ ]:
!head -n 2 'output_data/bjules_flat.jsonl' > 'output_data/4_more_tweets.jsonl'
!tail -n 2 'output_data/bjules_flat.jsonl' >> 'output_data/4_more_tweets.jsonl'

Can we go back further on his timeline by looking
only for Bergis's original content?

Not really--it looks like the limit applies to the search,
not the results.

But this does tell us that Jules is a prolific re-tweeter and/or replier.

In [ ]:
! wc output_data/bjules_original_flat.jsonl
! wc output_data/bjules_flat.jsonl

In [ ]:
# save it as a csv so we can easily see the original writings of Jules
!twarc2 csv output_data/bjules_original_flat.jsonl output_data/bjules_original.csv

In [ ]:
!head -n 20 'output_data/hashtag_gasprices_flat.jsonl' > 'output_data/20_tweets.jsonl'
!tail -n 20 'output_data/hashtag_gasprices_flat.jsonl' >> 'output_data/20_tweets.jsonl'

# Episode 4

In [ ]:
# fishing around for good searches
# you can count without harvesting.
# kittens is an evergreen search. you should always see at lease
# dozens of mentions per hour
!twarc2 counts --text "ucsb"

In [ ]:
# granularity makes the ouput shorter
# the twitter api is not case sensitive

!twarc2 counts --granularity "day" --text "(UCSB)"
!twarc2 counts --granularity "day" --text "(ucsb)"
!twarc2 counts --granularity "day" --text "(ucsb OR UCSB)"

In [ ]:
## hashtags come along with strings. NOT vice versa
!twarc2 counts --text "(Poker OR poker)" --granularity "day"
!twarc2 counts --text "(Poker OR #poker)" --granularity "day"

In [ ]:
!twarc2 counts --text "(Golf)" --granularity "day"
!twarc2 counts --text "(Basketball)" --granularity "day"
!twarc2 counts --text "(Baseball)" --granularity "day"
!twarc2 counts --text "(Football OR futbol)" --granularity "day"

In [ ]:
## What's a lot?
!twarc2 counts --text "dog" --granularity "day"
!twarc2 counts --text "cat" --granularity "day"
!twarc2 counts --text "amazon" --granularity "day"
!twarc2 counts --text "right" --granularity "day"
!twarc2 counts --text "good" --granularity "day"

In [ ]:
# search for hashtags when you really want hashtags. 
# search for a string returns both text and hashtage (an OR)
# NOT case sensitive
!twarc2 counts --granularity "day" --text "(#UCSB OR UCSB OR ucsb)"
!twarc2 counts --granularity "day" --text "(#ucsb)"
!twarc2 counts --granularity "day" --text "(UCSB)"

## Pipeline

In [105]:
## a SFW timeline
# !twarc2 timeline --limit 500 ucsblibrary raw_data/ucsblib_timeline.jsonl

!twarc2 flatten raw_data/ucsblib_timeline.jsonl output_data/ucsblib_timeline_flat.jsonl
!twarc2 csv output_data/ucsblib_timeline_flat.jsonl output_data/ucsblib_timeline_flat.csv
library_timeline_df = pandas.read_csv("output_data/ucsblib_timeline_flat.csv")

Set --limit of 500 reached:  15%|█▋         | 500/3279 [00:04<00:24, 114.84it/s]
100%|██████████████| Processed 1.19M/1.19M of input file [00:00<00:00, 6.34MB/s]
100%|██████████████| Processed 2.57M/2.57M of input file [00:00<00:00, 4.60MB/s]

ℹ️
Parsed 500 tweets objects from 500 lines in the input file.
Wrote 500 rows and output 74 columns in the CSV.

In [106]:
ucsblib_timeline_df = pandas.read_csv("output_data/ucsblib_timeline_flat.csv")

In [107]:
# confirm the dataframe's existance
len(ucsblib_timeline_df)

500

In [108]:
# and view all column headers
list(ucsblib_timeline_df.columns)

['id',
 'conversation_id',
 'referenced_tweets.replied_to.id',
 'referenced_tweets.retweeted.id',
 'referenced_tweets.quoted.id',
 'author_id',
 'in_reply_to_user_id',
 'retweeted_user_id',
 'quoted_user_id',
 'created_at',
 'text',
 'lang',
 'source',
 'public_metrics.like_count',
 'public_metrics.quote_count',
 'public_metrics.reply_count',
 'public_metrics.retweet_count',
 'reply_settings',
 'possibly_sensitive',
 'withheld.scope',
 'withheld.copyright',
 'withheld.country_codes',
 'entities.annotations',
 'entities.cashtags',
 'entities.hashtags',
 'entities.mentions',
 'entities.urls',
 'context_annotations',
 'attachments.media',
 'attachments.media_keys',
 'attachments.poll.duration_minutes',
 'attachments.poll.end_datetime',
 'attachments.poll.id',
 'attachments.poll.options',
 'attachments.poll.voting_status',
 'attachments.poll_ids',
 'author.id',
 'author.created_at',
 'author.username',
 'author.name',
 'author.description',
 'author.entities.description.cashtags',
 'author.entities.description.hashtags',
 'author.entities.description.mentions',
 'author.entities.description.urls',
 'author.entities.url.urls',
 'author.location',
 'author.pinned_tweet_id',
 'author.profile_image_url',
 'author.protected',
 'author.public_metrics.followers_count',
 'author.public_metrics.following_count',
 'author.public_metrics.listed_count',
 'author.public_metrics.tweet_count',
 'author.url',
 'author.verified',
 'author.withheld.scope',
 'author.withheld.copyright',
 'author.withheld.country_codes',
 'geo.coordinates.coordinates',
 'geo.coordinates.type',
 'geo.country',
 'geo.country_code',
 'geo.full_name',
 'geo.geo.bbox',
 'geo.geo.type',
 'geo.id',
 'geo.name',
 'geo.place_id',
 'geo.place_type',
 '__twarc.retrieved_at',
 '__twarc.url',
 '__twarc.version',
 'Unnamed: 73']

In [109]:
ucsblib_timeline_df.head()

,id,conversation_id,referenced_tweets.replied_to.id,referenced_tweets.retweeted.id,referenced_tweets.quoted.id,author_id,in_reply_to_user_id,retweeted_user_id,quoted_user_id,created_at,...,geo.geo.bbox,geo.geo.type,geo.id,geo.name,geo.place_id,geo.place_type,__twarc.retrieved_at,__twarc.url,__twarc.version,Unnamed: 73
0,1528843296411471876,1528843296411471876,NaN,1.527650e+18,NaN,101367986,NaN,483231999.0,NaN,2022-05-23T21:00:21.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-25T18:59:20+00:00,https://api.twitter.com/2/users/101367986/twee...,2.10.4,NaN
1,1527348937379631108,1527348937379631108,NaN,NaN,NaN,101367986,NaN,NaN,NaN,2022-05-19T18:02:18.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-25T18:59:20+00:00,https://api.twitter.com/2/users/101367986/twee...,2.10.4,NaN
2,1527319079727468544,1527319079727468544,NaN,NaN,NaN,101367986,NaN,NaN,NaN,2022-05-19T16:03:39.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-25T18:59:20+00:00,https://api.twitter.com/2/users/101367986/twee...,2.10.4,NaN
3,1526956500354314241,1526956500354314241,NaN,NaN,NaN,101367986,NaN,NaN,NaN,2022-05-18T16:02:53.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-25T18:59:20+00:00,https://api.twitter.com/2/users/101367986/twee...,2.10.4,NaN
4,1524072186599911425,1524072186599911425,NaN,NaN,NaN,101367986,NaN,NaN,NaN,2022-05-10T17:01:39.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-25T18:59:20+00:00,https://api.twitter.com/2/users/101367986/twee...,2.10.4,NaN

In [110]:
ucsblib_timeline_df.tail()

,id,conversation_id,referenced_tweets.replied_to.id,referenced_tweets.retweeted.id,referenced_tweets.quoted.id,author_id,in_reply_to_user_id,retweeted_user_id,quoted_user_id,created_at,...,geo.geo.bbox,geo.geo.type,geo.id,geo.name,geo.place_id,geo.place_type,__twarc.retrieved_at,__twarc.url,__twarc.version,Unnamed: 73
495,1350139793909301248,1350139793909301248,NaN,1.350138e+18,NaN,101367986,NaN,2.542162e+09,NaN,2021-01-15T17:56:25.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-25T18:59:24+00:00,https://api.twitter.com/2/users/101367986/twee...,2.10.4,NaN
496,1350104526250942468,1350104526250942468,NaN,NaN,NaN,101367986,NaN,NaN,NaN,2021-01-15T15:36:17.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-25T18:59:24+00:00,https://api.twitter.com/2/users/101367986/twee...,2.10.4,NaN
497,1349772447541653505,1349217632264744961,1.349763e+18,NaN,NaN,101367986,1.285968e+18,NaN,NaN,2021-01-14T17:36:43.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-25T18:59:24+00:00,https://api.twitter.com/2/users/101367986/twee...,2.10.4,NaN
498,1349771964525674500,1349502619018907650,1.349503e+18,NaN,NaN,101367986,1.302718e+08,NaN,NaN,2021-01-14T17:34:48.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-25T18:59:24+00:00,https://api.twitter.com/2/users/101367986/twee...,2.10.4,NaN
499,1349771609976893440,1349771609976893440,NaN,1.349503e+18,NaN,101367986,NaN,1.302718e+08,NaN,2021-01-14T17:33:24.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-25T18:59:24+00:00,https://api.twitter.com/2/users/101367986/twee...,2.10.4,NaN

In [178]:
#grab only specified column
ucsblib_timeline_df['public_metrics.retweet_count']

0      2
1      0
2      0
3      0
4      2
      ..
495    1
496    2
497    0
498    0
499    1
Name: public_metrics.retweet_count, Length: 500, dtype: int64

In [179]:
sort_by_rt = ucsblib_timeline_df.sort_values('public_metrics.retweet_count', ascending=False)

#the first tweet from the sorted dataframe
most_rt = sort_by_rt.head(1)

#output the text of the most retweeted tweet
most_rt['text']

166    For the first time in history, sound recording...
Name: text, dtype: object

In [182]:
sort_by_rt['public_metrics.retweet_count'].head(20)

166    164
286    114
439     84
283     65
289     54
173     29
199     26
450     24
313     23
436     22
441     21
449     21
200     18
416     18
407     17
133     16
13      15
315     15
382     14
453     13
Name: public_metrics.retweet_count, dtype: int64

## final challenge: Cats of Instagram
Let’s make a bigger datafile. Harvest 5000 tweets that use the hashtag “catsofinstagram” and put the dataset through the pipeline to answer the following questions:

- Did you get exactly 5000?
- How far back in time did you get?
- What is the most re-tweeted recent tweet on #catsofinstagram?
- Which person has the most number of followers in your dataset?
- Is it really a person?

In [111]:
# !twarc2 search --limit 500 "#catsofinstagram" raw_data/hashtagcats.jsonl
!twarc2 flatten raw_data/hashtagcats.jsonl output_data/hashtagcats_flat.jsonl
!twarc2 csv raw_data/hashtagcats.jsonl > output_data/hashtagcats.csv
hashtagcats_df = pandas.read_csv("output_data/hashtagcats.csv")
! wc output_data/hashtagcats.csv
hashtagcats_df["created_at"].head()

100%|██████████████| Processed 1.84M/1.84M of input file [00:00<00:00, 10.9MB/s]
    600  118388 2181953 output_data/hashtagcats.csv

0    2022-05-24T00:17:07.000Z
1    2022-05-24T00:14:06.000Z
2    2022-05-24T00:14:06.000Z
3    2022-05-24T00:12:02.000Z
4    2022-05-24T00:11:58.000Z
Name: created_at, dtype: object

In [112]:
hashtagcats_df["created_at"].tail()

594    2022-05-23T15:27:12.000Z
595    2022-05-23T15:24:35.000Z
596    2022-05-23T15:22:56.000Z
597    2022-05-23T15:21:13.000Z
598    2022-05-23T15:20:22.000Z
Name: created_at, dtype: object

In [113]:
hashtagcats_df

,id,conversation_id,referenced_tweets.replied_to.id,referenced_tweets.retweeted.id,referenced_tweets.quoted.id,author_id,in_reply_to_user_id,retweeted_user_id,quoted_user_id,created_at,...,geo.geo.bbox,geo.geo.type,geo.id,geo.name,geo.place_id,geo.place_type,__twarc.retrieved_at,__twarc.url,__twarc.version,Unnamed: 73
0,1528892818105815040,1528892818105815040,NaN,1.517710e+18,NaN,1128200401,NaN,3.958303e+09,NaN,2022-05-24T00:17:07.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-24T00:20:37+00:00,https://api.twitter.com/2/tweets/search/recent...,2.10.4,NaN
1,1528892058274091012,1528892058274091012,NaN,NaN,NaN,749661007,NaN,NaN,NaN,2022-05-24T00:14:06.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-24T00:20:37+00:00,https://api.twitter.com/2/tweets/search/recent...,2.10.4,NaN
2,1528892056524972033,1528892056524972033,NaN,1.528889e+18,NaN,1088162497725648908,NaN,9.486312e+17,NaN,2022-05-24T00:14:06.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-24T00:20:37+00:00,https://api.twitter.com/2/tweets/search/recent...,2.10.4,NaN
3,1528891537995796481,1528891537995796481,NaN,NaN,NaN,444109960,NaN,NaN,NaN,2022-05-24T00:12:02.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-24T00:20:37+00:00,https://api.twitter.com/2/tweets/search/recent...,2.10.4,NaN
4,1528891522271150081,1528891522271150081,NaN,1.528845e+18,NaN,1145235467601756161,NaN,1.350456e+18,NaN,2022-05-24T00:11:58.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-24T00:20:37+00:00,https://api.twitter.com/2/tweets/search/recent...,2.10.4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
594,1528759456552693760,1528759456552693760,NaN,1.528738e+18,NaN,774243018304057345,NaN,1.479934e+18,NaN,2022-05-23T15:27:12.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-24T00:20:41+00:00,https://api.twitter.com/2/tweets/search/recent...,2.10.4,NaN
595,1528758800408121344,1528758800408121344,NaN,1.528635e+18,NaN,911449457824108545,NaN,1.251569e+18,NaN,2022-05-23T15:24:35.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-24T00:20:41+00:00,https://api.twitter.com/2/tweets/search/recent...,2.10.4,NaN
596,1528758385394733059,1528758385394733059,NaN,1.528529e+18,NaN,1425297926981488643,NaN,1.524979e+18,NaN,2022-05-23T15:22:56.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-24T00:20:41+00:00,https://api.twitter.com/2/tweets/search/recent...,2.10.4,NaN
597,1528757951221096448,1528757951221096448,NaN,NaN,NaN,722125004054388736,NaN,NaN,NaN,2022-05-23T15:21:13.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-24T00:20:41+00:00,https://api.twitter.com/2/tweets/search/recent...,2.10.4,NaN
598,1528757736938295298,1528757736938295298,NaN,1.528413e+18,NaN,3188720277,NaN,3.541330e+08,NaN,2022-05-23T15:20:22.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-24T00:20:41+00:00,https://api.twitter.com/2/tweets/search/recent...,2.10.4,NaN

In [114]:
list(hashtagcats_df.columns)

['id',
 'conversation_id',
 'referenced_tweets.replied_to.id',
 'referenced_tweets.retweeted.id',
 'referenced_tweets.quoted.id',
 'author_id',
 'in_reply_to_user_id',
 'retweeted_user_id',
 'quoted_user_id',
 'created_at',
 'text',
 'lang',
 'source',
 'public_metrics.like_count',
 'public_metrics.quote_count',
 'public_metrics.reply_count',
 'public_metrics.retweet_count',
 'reply_settings',
 'possibly_sensitive',
 'withheld.scope',
 'withheld.copyright',
 'withheld.country_codes',
 'entities.annotations',
 'entities.cashtags',
 'entities.hashtags',
 'entities.mentions',
 'entities.urls',
 'context_annotations',
 'attachments.media',
 'attachments.media_keys',
 'attachments.poll.duration_minutes',
 'attachments.poll.end_datetime',
 'attachments.poll.id',
 'attachments.poll.options',
 'attachments.poll.voting_status',
 'attachments.poll_ids',
 'author.id',
 'author.created_at',
 'author.username',
 'author.name',
 'author.description',
 'author.entities.description.cashtags',
 'author.entities.description.hashtags',
 'author.entities.description.mentions',
 'author.entities.description.urls',
 'author.entities.url.urls',
 'author.location',
 'author.pinned_tweet_id',
 'author.profile_image_url',
 'author.protected',
 'author.public_metrics.followers_count',
 'author.public_metrics.following_count',
 'author.public_metrics.listed_count',
 'author.public_metrics.tweet_count',
 'author.url',
 'author.verified',
 'author.withheld.scope',
 'author.withheld.copyright',
 'author.withheld.country_codes',
 'geo.coordinates.coordinates',
 'geo.coordinates.type',
 'geo.country',
 'geo.country_code',
 'geo.full_name',
 'geo.geo.bbox',
 'geo.geo.type',
 'geo.id',
 'geo.name',
 'geo.place_id',
 'geo.place_type',
 '__twarc.retrieved_at',
 '__twarc.url',
 '__twarc.version',
 'Unnamed: 73']

In [115]:
# what dataframes do we have at this point?
%whos DataFrame

Variable                   Type         Data/Info
-------------------------------------------------
ecodatasci_df              DataFrame                          id <...>\n[473 rows x 74 columns]
hashtag_gasprices_df       DataFrame                            i<...>[10787 rows x 74 columns]
hashtagcats_df             DataFrame                          id <...>\n[599 rows x 74 columns]
kittens_df                 DataFrame                          id <...>\n[899 rows x 74 columns]
library_timeline_df        DataFrame                          id <...>\n[500 rows x 74 columns]
riots_dehydrated_df        DataFrame           134686307243517952<...>n[82308 rows x 1 columns]
riots_df                   DataFrame                           id<...>n[9997 rows x 74 columns]
ucsb_library_mentions_df   DataFrame                          id <...>\n[809 rows x 74 columns]
ucsblib_timeline_df        DataFrame                          id <...>\n[500 rows x 74 columns]

# Episode 5: Ethics & Twitter

In [116]:
# what dataframes do we have?
%who DataFrame
# which column is the text?

ecodatasci_df	 hashtag_gasprices_df	 hashtagcats_df	 kittens_df	 library_timeline_df	 riots_dehydrated_df	 riots_df	 ucsb_library_mentions_df	 ucsblib_timeline_df

In [117]:
# our first full-text analysis
# a list of words with TextBlob

# first we need to munge the data. remember from:
# list(library_df.columns)
# the tweet is library_df['text']

# TextBlob has its own data format.

# break tweets test column into a list, 
# then .join into one long string 
library_string = ' '.join(library_timeline_df['text'].tolist())
# turn the string into a blob
library_blob = textblob.TextBlob(library_string)

In [118]:
# This produces a mess if we output it. 
# (library_blob)

In [119]:
# Let's count the words and sort by their frequency of use:
library_freq = library_blob.word_counts
library_sorted_freq = sorted(library_freq.items(), 
                             key = lambda kv: kv[1], 
                             reverse = True)
library_sorted_freq[1:25]

[('https', 604),
 ('to', 389),
 ('of', 349),
 ('and', 339),
 ('a', 249),
 ('for', 248),
 ('in', 190),
 ('ucsb', 184),
 ('our', 166),
 ('library', 161),
 ('s', 157),
 ('at', 132),
 ('you', 126),
 ('on', 125),
 ('from', 115),
 ('more', 111),
 ('this', 110),
 ('we', 105),
 ('is', 101),
 ('with', 101),
 ('by', 101),
 ('here', 95),
 ('amp', 94),
 ('are', 78)]

We can at least get the english stopwords out. but this all didn't reall produce anything cleaner:

In [120]:
# load the stopwords to use
from nltk.corpus import stopwords
sw_nltk = stopwords.words('english')

In [121]:
# create a new text list that does
# NOT contain stopwords
library_str_stopped = [word for word in library_string.split() 
                       if word.lower() not in sw_nltk]
library_words_stopped = " ".join(library_str_stopped)

In [122]:
library_blob_stopped = textblob.TextBlob(library_words_stopped)
library_blob_stopped_freq = library_blob_stopped.word_counts
library_blob_stopped_sorted_freq = sorted(library_blob_stopped_freq.items(), 
                             key = lambda kv: kv[1], 
                             reverse = True)
library_blob_stopped_sorted_freq[1:50]

[('ucsb', 184),
 ('library', 161),
 ('s', 146),
 ('amp', 94),
 ('here', 86),
 ('’', 67),
 ('ucsblibrary', 63),
 ('research', 60),
 ('us', 57),
 ('uc', 56),
 ('today', 55),
 ('join', 55),
 ('book', 50),
 ('open', 49),
 ('new', 48),
 ('reads', 47),
 ('learn', 44),
 ('more', 43),
 ('week', 43),
 ('we', 40),
 ('access', 39),
 ('students', 38),
 ('nhttps', 34),
 ('tomorrow', 34),
 ('study', 34),
 ('community', 33),
 ('2022', 33),
 ('event', 33),
 ('campus', 33),
 ('info', 32),
 ('santa', 32),
 ('exhibit', 32),
 ('recordings', 31),
 ('barbara', 31),
 ('re', 31),
 ('art', 30),
 ('check', 29),
 ('collections', 27),
 ('resources', 27),
 ('day', 27),
 ('talk', 26),
 ('ted', 26),
 ('exhalation', 26),
 ('collection', 26),
 ('one', 26),
 ('black', 26),
 ('chiang', 25),
 ('discussion', 25),
 ('register', 25)]

In [123]:
# a more meaningful segment
library_blob_stopped_sorted_freq[7:57]

[('ucsblibrary', 63),
 ('research', 60),
 ('us', 57),
 ('uc', 56),
 ('today', 55),
 ('join', 55),
 ('book', 50),
 ('open', 49),
 ('new', 48),
 ('reads', 47),
 ('learn', 44),
 ('more', 43),
 ('week', 43),
 ('we', 40),
 ('access', 39),
 ('students', 38),
 ('nhttps', 34),
 ('tomorrow', 34),
 ('study', 34),
 ('community', 33),
 ('2022', 33),
 ('event', 33),
 ('campus', 33),
 ('info', 32),
 ('santa', 32),
 ('exhibit', 32),
 ('recordings', 31),
 ('barbara', 31),
 ('re', 31),
 ('art', 30),
 ('check', 29),
 ('collections', 27),
 ('resources', 27),
 ('day', 27),
 ('talk', 26),
 ('ted', 26),
 ('exhalation', 26),
 ('collection', 26),
 ('one', 26),
 ('black', 26),
 ('chiang', 25),
 ('discussion', 25),
 ('register', 25),
 ('online', 25),
 ('history', 24),
 ('pick', 24),
 ('free', 23),
 ('librarian', 22),
 ('work', 22),
 ('year', 22)]

In [124]:
# Challenge: for the Python wizzes. #FIXME
# do that in a tidy way?
# what do pandas pipes look like?

# Just the words, hold the gore

## Challenge: Insta-rrectionists

In [125]:
# how long is this?
riots_dehydrated_df = pandas.read_csv("raw_data/dehydratedCapitolRiotTweets.txt")
len(riots_dehydrated_df)

82308

In [126]:
# this takes a very long time.
# !twarc2 hydrate raw_data/dehydratedCapitolRiotTweets.txt raw_data/riots.jsonl

In [127]:
# regardless of how you slice this, it's about 
# 80 % of the content that is still there.

# these are very slow, so they are commented out
# ! twarc2 flatten raw_data/riots.jsonl output_data/riots_flat.jsonl
# ! twarc2 csv output_data/riots_flat.jsonl output_data/riots_flat.csv

! wc output_data/riots_flat.jsonl
! wc output_data/riots_flat.csv

    65554  31279893 553455111 output_data/riots_flat.jsonl
    65322  12010592 360330969 output_data/riots_flat.csv

In [128]:
! head -n 10000 output_data/riots_flat.jsonl > output_data/riots10k.jsonl
! twarc2 csv output_data/riots10k.jsonl > output_data/riots10k.csv

In [129]:
 riots_df = pandas.read_csv("output_data/riots10k.csv", low_memory=False)

In [130]:
riots_df.shape

(9997, 74)

In [131]:
riots_df.columns

Index(['id', 'conversation_id', 'referenced_tweets.replied_to.id',
       'referenced_tweets.retweeted.id', 'referenced_tweets.quoted.id',
       'author_id', 'in_reply_to_user_id', 'retweeted_user_id',
       'quoted_user_id', 'created_at', 'text', 'lang', 'source',
       'public_metrics.like_count', 'public_metrics.quote_count',
       'public_metrics.reply_count', 'public_metrics.retweet_count',
       'reply_settings', 'possibly_sensitive', 'withheld.scope',
       'withheld.copyright', 'withheld.country_codes', 'entities.annotations',
       'entities.cashtags', 'entities.hashtags', 'entities.mentions',
       'entities.urls', 'context_annotations', 'attachments.media',
       'attachments.media_keys', 'attachments.poll.duration_minutes',
       'attachments.poll.end_datetime', 'attachments.poll.id',
       'attachments.poll.options', 'attachments.poll.voting_status',
       'attachments.poll_ids', 'author.id', 'author.created_at',
       'author.username', 'author.name', 'author.description',
       'author.entities.description.cashtags',
       'author.entities.description.hashtags',
       'author.entities.description.mentions',
       'author.entities.description.urls', 'author.entities.url.urls',
       'author.location', 'author.pinned_tweet_id', 'author.profile_image_url',
       'author.protected', 'author.public_metrics.followers_count',
       'author.public_metrics.following_count',
       'author.public_metrics.listed_count',
       'author.public_metrics.tweet_count', 'author.url', 'author.verified',
       'author.withheld.scope', 'author.withheld.copyright',
       'author.withheld.country_codes', 'geo.coordinates.coordinates',
       'geo.coordinates.type', 'geo.country', 'geo.country_code',
       'geo.full_name', 'geo.geo.bbox', 'geo.geo.type', 'geo.id', 'geo.name',
       'geo.place_id', 'geo.place_type', '__twarc.retrieved_at', '__twarc.url',
       '__twarc.version', 'Unnamed: 73'],
      dtype='object')

In [132]:
# count the users
users_df = riots_df.author_id.unique()
(users_df.shape)

(9160,)

In [133]:
users_quoted_df = riots_df.quoted_user_id.unique()
(users_quoted_df.shape)

(230,)

# Episode 6: Search and Filter

In [134]:
# use Twitter advanced search syntax (everthing in quotes!)
# to get tailored results
# !twarc2 search --limit 800 "(cute OR fluffy OR haircut) (#catsofinstagram) lang:en" raw_data/kittens.jsonl
!twarc2 csv raw_data/kittens.jsonl output_data/kittens.csv

100%|██████████████| Processed 2.59M/2.59M of input file [00:00<00:00, 3.74MB/s]

ℹ️
Parsed 899 tweets objects from 9 lines in the input file.
Wrote 899 rows and output 74 columns in the CSV.

In [135]:
kittens_df = pandas.read_csv("output_data/kittens.csv")

In [136]:
kittens_df

,id,conversation_id,referenced_tweets.replied_to.id,referenced_tweets.retweeted.id,referenced_tweets.quoted.id,author_id,in_reply_to_user_id,retweeted_user_id,quoted_user_id,created_at,...,geo.geo.bbox,geo.geo.type,geo.id,geo.name,geo.place_id,geo.place_type,__twarc.retrieved_at,__twarc.url,__twarc.version,Unnamed: 73
0,1528574826507554816,1528574826507554816,NaN,1.526889e+18,NaN,1339747029451419648,NaN,3.958303e+09,NaN,2022-05-23T03:13:32.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-23T03:17:48+00:00,https://api.twitter.com/2/tweets/search/recent...,2.10.4,NaN
1,1528570565065379840,1528570565065379840,NaN,1.526889e+18,NaN,1052848710,NaN,3.958303e+09,NaN,2022-05-23T02:56:36.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-23T03:17:48+00:00,https://api.twitter.com/2/tweets/search/recent...,2.10.4,NaN
2,1528558400346259456,1528558400346259456,NaN,1.528045e+18,NaN,616608467,NaN,1.212552e+18,NaN,2022-05-23T02:08:16.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-23T03:17:48+00:00,https://api.twitter.com/2/tweets/search/recent...,2.10.4,NaN
3,1528547008151101440,1528547008151101440,NaN,1.528454e+18,NaN,1373558094693683204,NaN,2.926437e+09,NaN,2022-05-23T01:23:00.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-23T03:17:48+00:00,https://api.twitter.com/2/tweets/search/recent...,2.10.4,NaN
4,1528544995975757827,1528544995975757827,NaN,1.528153e+18,NaN,264383293,NaN,2.826013e+09,NaN,2022-05-23T01:15:00.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-23T03:17:48+00:00,https://api.twitter.com/2/tweets/search/recent...,2.10.4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894,1526927292382969858,1526927292382969858,NaN,1.526889e+18,NaN,1507717680421298181,NaN,3.958303e+09,NaN,2022-05-18T14:06:50.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-23T03:17:55+00:00,https://api.twitter.com/2/tweets/search/recent...,2.10.4,NaN
895,1526927183905693696,1526927183905693696,NaN,1.526889e+18,NaN,862826271016931331,NaN,3.958303e+09,NaN,2022-05-18T14:06:24.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-23T03:17:55+00:00,https://api.twitter.com/2/tweets/search/recent...,2.10.4,NaN
896,1526926332516515841,1526926332516515841,NaN,1.526889e+18,NaN,373612360,NaN,3.958303e+09,NaN,2022-05-18T14:03:01.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-23T03:17:55+00:00,https://api.twitter.com/2/tweets/search/recent...,2.10.4,NaN
897,1526926256259973121,1526926256259973121,NaN,1.526889e+18,NaN,1232696931408924677,NaN,3.958303e+09,NaN,2022-05-18T14:02:43.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-23T03:17:55+00:00,https://api.twitter.com/2/tweets/search/recent...,2.10.4,NaN
898,1526925999123857409,1526925999123857409,NaN,1.526889e+18,NaN,961228802,NaN,3.958303e+09,NaN,2022-05-18T14:01:41.000Z,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-23T03:17:55+00:00,https://api.twitter.com/2/tweets/search/recent...,2.10.4,NaN

In [137]:
list(kittens_df.columns)

['id',
 'conversation_id',
 'referenced_tweets.replied_to.id',
 'referenced_tweets.retweeted.id',
 'referenced_tweets.quoted.id',
 'author_id',
 'in_reply_to_user_id',
 'retweeted_user_id',
 'quoted_user_id',
 'created_at',
 'text',
 'lang',
 'source',
 'public_metrics.like_count',
 'public_metrics.quote_count',
 'public_metrics.reply_count',
 'public_metrics.retweet_count',
 'reply_settings',
 'possibly_sensitive',
 'withheld.scope',
 'withheld.copyright',
 'withheld.country_codes',
 'entities.annotations',
 'entities.cashtags',
 'entities.hashtags',
 'entities.mentions',
 'entities.urls',
 'context_annotations',
 'attachments.media',
 'attachments.media_keys',
 'attachments.poll.duration_minutes',
 'attachments.poll.end_datetime',
 'attachments.poll.id',
 'attachments.poll.options',
 'attachments.poll.voting_status',
 'attachments.poll_ids',
 'author.id',
 'author.created_at',
 'author.username',
 'author.name',
 'author.description',
 'author.entities.description.cashtags',
 'author.entities.description.hashtags',
 'author.entities.description.mentions',
 'author.entities.description.urls',
 'author.entities.url.urls',
 'author.location',
 'author.pinned_tweet_id',
 'author.profile_image_url',
 'author.protected',
 'author.public_metrics.followers_count',
 'author.public_metrics.following_count',
 'author.public_metrics.listed_count',
 'author.public_metrics.tweet_count',
 'author.url',
 'author.verified',
 'author.withheld.scope',
 'author.withheld.copyright',
 'author.withheld.country_codes',
 'geo.coordinates.coordinates',
 'geo.coordinates.type',
 'geo.country',
 'geo.country_code',
 'geo.full_name',
 'geo.geo.bbox',
 'geo.geo.type',
 'geo.id',
 'geo.name',
 'geo.place_id',
 'geo.place_type',
 '__twarc.retrieved_at',
 '__twarc.url',
 '__twarc.version',
 'Unnamed: 73']

# Search

Twitter search using Boolean logic

### Using And 
In twarc, a space between operators will act as `AND`

In [138]:

!twarc2 search --limit 200 "grumpy cat" > raw_data/grumpy_throwaway.jsonl
# this will return tweets matching both conditions 
# running without a limit will crash the kernel the cats are so strong

### Using Or

In twarc, using OR will return results where either condition is met

In [139]:
!twarc2 search  --limit 200 "grumpy OR cat" > raw_data/grumpy_throwaway.jsonl

#this will return tweets where either search condition is met, grumpy or cat 
#running without a limit will crash the kernel grumpy people and cats are so strong

### Not Logic 

What about negating certain terms within a search? Use a dash (-) followed by the keyword you want to avoid

In [140]:
# lets ignore Doja Cat from our internet cat search

!twarc2 search --limit 200 "grumpy OR cat -Dojacat" > raw_data/grumpy_throwaway.jsonl

### Searching by User 

Looking for mentions, tos/froms

In [141]:
#to: will match any tweeet that is a reply to a particular user 
#You can only pass a single username per to: command 
!twarc2 search "(to:realgrumpycat)" > raw_data/grumpy_throwaway.jsonl

Likewise, from: will match any tweet from a specific user

In [142]:
 !twarc2 search "(from:realgrumpycat)" > raw_data/grumpy_throwaway.jsonl

### Using Hashtags

In [143]:
# the below command would be a good way to blow your quota
# !twarc2 search "#meme" > raw_data/grumpy_throwaway.jsonl

### Order of Operations 

Of course, you can combine search queries to narrow down results but remember these rules. 
You can also use () to group terms to eliminate any uncertainty

* cats OR cole marmalade > cats OR (cole marmalade) 
* cats cole OR marmalade > (cats cole) OR marmalade

* (cats or cole) marmalade > some cats, some guys named Cole, and orange preservatives 
* cat (cole marmalade) > group them together, and give us the actual cat duo

### Advanced Cat Challenge

In [144]:
# !twarc2 search "(grumpy cat #meme)"
 
# !twarc2 search "(grumpy cat) OR (#meme has:images)"

# !twarc2 search "(cats OR puppies) has:media"

# !twarc2 search "(to:_We_Rate_Cats) lang:en"

# Stream

In [145]:
!twarc2 stream-rules add "#WorldGothDay"

🚀  Added rule for "#WorldGothDay"

In [146]:
!twarc2 stream-rules add "gothcats"

🚀  Added rule for "gothcats"

In [147]:
# press the square to interrup this!

In [148]:
# !twarc2 stream > "raw_data/streamed_goth.jsonl"

In [149]:
! wc raw_data/streamed_goth.jsonl
! twarc2 flatten raw_data/streamed_goth.jsonl > output_data/streamed_goth_flat.jsonl
! wc output_data/streamed_goth_flat.jsonl

    4  1277 20136 raw_data/streamed_goth.jsonl
    4  1582 24554 output_data/streamed_goth_flat.jsonl

In [150]:
!twarc2 stream-rules delete "gothcats"
!twarc2 stream-rules delete "#WorldGothDay"

🗑  Deleted stream rule for gothcats
🗑  Deleted stream rule for #WorldGothDay

# Retweets vs. tweets
How much original content is there?
Do this for both library timeline and catsofinstagrams

In [151]:
# via pandas and plottting
retweet_count = hashtagcats_df["referenced_tweets.retweeted.id"].value_counts()
sum(retweet_count)

413

In [152]:
(sum(retweet_count) / len(hashtagcats_df))

0.6894824707846411

78% of the tweets that used #catsofinstagram were retweets.

In [153]:
# so our pipeline on a stream would look like:

# Episode 7: twarc plug-ins

In [154]:
# this reminds you what DataFrames you have in memory
%who DataFrame

ecodatasci_df	 hashtag_gasprices_df	 hashtagcats_df	 kittens_df	 library_timeline_df	 riots_dehydrated_df	 riots_df	 ucsb_library_mentions_df	 ucsblib_timeline_df

In [155]:
!pip install twarc-hashtags

Requirement already satisfied: twarc-hashtags in /opt/conda/lib/python3.9/site-packages (0.0.5)
Requirement already satisfied: twarc>=2.1.1 in /opt/conda/lib/python3.9/site-packages (from twarc-hashtags) (2.10.4)
Requirement already satisfied: python-dateutil>=2.8 in /opt/conda/lib/python3.9/site-packages (from twarc>=2.1.1->twarc-hashtags) (2.8.2)
Requirement already satisfied: humanize>=3.9 in /opt/conda/lib/python3.9/site-packages (from twarc>=2.1.1->twarc-hashtags) (4.1.0)
Requirement already satisfied: click-config-file>=0.6 in /opt/conda/lib/python3.9/site-packages (from twarc>=2.1.1->twarc-hashtags) (0.6.0)
Requirement already satisfied: click<9,>=7 in /opt/conda/lib/python3.9/site-packages (from twarc>=2.1.1->twarc-hashtags) (8.1.3)
Requirement already satisfied: requests-oauthlib>=1.3 in /opt/conda/lib/python3.9/site-packages (from twarc>=2.1.1->twarc-hashtags) (1.3.1)
Requirement already satisfied: tqdm>=4.62 in /opt/conda/lib/python3.9/site-packages (from twarc>=2.1.1->twarc-hashtags) (4.64.0)
Requirement already satisfied: click-plugins>=1 in /opt/conda/lib/python3.9/site-packages (from twarc>=2.1.1->twarc-hashtags) (1.1.1)
Requirement already satisfied: configobj>=5.0.6 in /opt/conda/lib/python3.9/site-packages (from click-config-file>=0.6->twarc>=2.1.1->twarc-hashtags) (5.0.6)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil>=2.8->twarc>=2.1.1->twarc-hashtags) (1.16.0)
Requirement already satisfied: requests>=2.0.0 in /opt/conda/lib/python3.9/site-packages (from requests-oauthlib>=1.3->twarc>=2.1.1->twarc-hashtags) (2.27.1)
Requirement already satisfied: oauthlib>=3.0.0 in /opt/conda/lib/python3.9/site-packages (from requests-oauthlib>=1.3->twarc>=2.1.1->twarc-hashtags) (3.2.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from requests>=2.0.0->requests-oauthlib>=1.3->twarc>=2.1.1->twarc-hashtags) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from requests>=2.0.0->requests-oauthlib>=1.3->twarc>=2.1.1->twarc-hashtags) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.9/site-packages (from requests>=2.0.0->requests-oauthlib>=1.3->twarc>=2.1.1->twarc-hashtags) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.9/site-packages (from requests>=2.0.0->requests-oauthlib>=1.3->twarc>=2.1.1->twarc-hashtags) (3.3)

In [156]:
!pip install twarc-network

Requirement already satisfied: twarc-network in /opt/conda/lib/python3.9/site-packages (0.1.1)
Requirement already satisfied: pydot in /opt/conda/lib/python3.9/site-packages (from twarc-network) (1.4.2)
Requirement already satisfied: networkx in /opt/conda/lib/python3.9/site-packages (from twarc-network) (2.8.2)
Requirement already satisfied: twarc in /opt/conda/lib/python3.9/site-packages (from twarc-network) (2.10.4)
Requirement already satisfied: pyparsing>=2.1.4 in /opt/conda/lib/python3.9/site-packages (from pydot->twarc-network) (3.0.8)
Requirement already satisfied: tqdm>=4.62 in /opt/conda/lib/python3.9/site-packages (from twarc->twarc-network) (4.64.0)
Requirement already satisfied: python-dateutil>=2.8 in /opt/conda/lib/python3.9/site-packages (from twarc->twarc-network) (2.8.2)
Requirement already satisfied: click-plugins>=1 in /opt/conda/lib/python3.9/site-packages (from twarc->twarc-network) (1.1.1)
Requirement already satisfied: click-config-file>=0.6 in /opt/conda/lib/python3.9/site-packages (from twarc->twarc-network) (0.6.0)
Requirement already satisfied: humanize>=3.9 in /opt/conda/lib/python3.9/site-packages (from twarc->twarc-network) (4.1.0)
Requirement already satisfied: requests-oauthlib>=1.3 in /opt/conda/lib/python3.9/site-packages (from twarc->twarc-network) (1.3.1)
Requirement already satisfied: click<9,>=7 in /opt/conda/lib/python3.9/site-packages (from twarc->twarc-network) (8.1.3)
Requirement already satisfied: configobj>=5.0.6 in /opt/conda/lib/python3.9/site-packages (from click-config-file>=0.6->twarc->twarc-network) (5.0.6)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil>=2.8->twarc->twarc-network) (1.16.0)
Requirement already satisfied: oauthlib>=3.0.0 in /opt/conda/lib/python3.9/site-packages (from requests-oauthlib>=1.3->twarc->twarc-network) (3.2.0)
Requirement already satisfied: requests>=2.0.0 in /opt/conda/lib/python3.9/site-packages (from requests-oauthlib>=1.3->twarc->twarc-network) (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from requests>=2.0.0->requests-oauthlib>=1.3->twarc->twarc-network) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.9/site-packages (from requests>=2.0.0->requests-oauthlib>=1.3->twarc->twarc-network) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.9/site-packages (from requests>=2.0.0->requests-oauthlib>=1.3->twarc->twarc-network) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from requests>=2.0.0->requests-oauthlib>=1.3->twarc->twarc-network) (1.26.9)

In [157]:
!twarc2 retweeted-by 1522543998996414464 > 'raw_data/tinycarebot_rtby.jsonl'
!twarc2 flatten raw_data/tinycarebot_rtby.jsonl > output_data/tinycarebot_rtby_flat.jsonl

In [158]:
!twarc2 hashtags raw_data/hashtagcats.jsonl output_data/hashtagcats_hashtags.csv

100%|██████████████| Processed 1.84M/1.84M of input file [00:00<00:00, 11.4MB/s]

In [159]:
# how do I print file to cell?
# print(read(output_data/hashtagcats_hashtags.csv))

In [160]:
!twarc2 hashtags raw_data/ucsblibrary_mentions.jsonl output_data/ucsblibrary_mentions_hashtags.csv

100%|██████████████| Processed 2.41M/2.41M of input file [00:00<00:00, 22.6MB/s]

In [161]:
!twarc2 network raw_data/hashtagcats.jsonl output_data/hashtagcats_network.html

In [162]:
# this is slow and uses quota
# !twarc2 followers --limit 1 tinycarebot >  'raw_data/tcb_followers.jsonl'

In [163]:
!twarc2 flatten raw_data/tcb_followers.jsonl > output_data/tcb_followers_flat.jsonl

In [164]:
! wc output_data/tcb_followers_flat.jsonl

   1000   54050 1212647 output_data/tcb_followers_flat.jsonl

In [165]:
# tiny challenge
# look at the help!
! twarc2 csv --input-data-type users output_data/tcb_followers_flat.jsonl > output_data/tcb_followers.csv
# csv doesn't work on profiles.

In [166]:
# ! twarc2 mentions ucsblibrary raw_data/ucsblibrary_mentions.jsonl
# what comes next now that users csv is fixed!????? #FIXME
! twarc2 csv raw_data/ucsblibrary_mentions.jsonl output_data/ucsblibrary_mentions.csv 
ucsb_library_mentions_df = pandas.read_csv('output_data/ucsblibrary_mentions.csv')

100%|██████████████| Processed 2.41M/2.41M of input file [00:00<00:00, 3.11MB/s]

ℹ️
Parsed 809 tweets objects from 9 lines in the input file.
Wrote 809 rows and output 74 columns in the CSV.

In [167]:
!twarc2 network raw_data/hashtag_gasprices.jsonl output_data/hashtag_gasprices_network.html

# Episode 8: Python text analysis

### Sentiment Analysis
To do this, we need to do a little Python

TextBlob is a text processing library that does sentiment analysis. 
The sentiment property returns a namedtuple of the form Sentiment(polarity, subjectivity). The polarity score is a float within the range [-1.0, 1.0]. The subjectivity is a float within the range [0.0, 1.0] where 0.0 is very objective and 1.0 is very subjective.

Before we use TextBlob for sentiment analysis, we need to download
datasets of words and their associated weights. These are called *corpora*.

In [168]:
# commented out because I put it up in ep 2
# !python -m textblob.download_corpora

In [169]:
# TextBlob needs a string, so this won't work.
# textblob.TextBlob(hashtagcats_df).sentiment

In [170]:
# even calling the column won't work:
# textblob.TextBlob(hashtagcats_df['text']).sentiment

In [171]:
# break tweets test column into a list, then .join into one long string 
hashtagcats_list = ' '.join(hashtagcats_df['text'].tolist())
# turn the string into a blob
hashtagcats_blob = textblob.TextBlob(hashtagcats_list)
# get the sentiment
hashtagcats_blob.sentiment

Sentiment(polarity=0.17576840733247795, subjectivity=0.5069781628198716)

In [172]:
# what dataframes are still here?
%whos DataFrame

Variable                   Type         Data/Info
-------------------------------------------------
ecodatasci_df              DataFrame                          id <...>\n[473 rows x 74 columns]
hashtag_gasprices_df       DataFrame                            i<...>[10787 rows x 74 columns]
hashtagcats_df             DataFrame                          id <...>\n[599 rows x 74 columns]
kittens_df                 DataFrame                          id <...>\n[899 rows x 74 columns]
library_timeline_df        DataFrame                          id <...>\n[500 rows x 74 columns]
riots_dehydrated_df        DataFrame           134686307243517952<...>n[82308 rows x 1 columns]
riots_df                   DataFrame                           id<...>n[9997 rows x 74 columns]
ucsb_library_mentions_df   DataFrame                          id <...>\n[809 rows x 74 columns]
ucsblib_timeline_df        DataFrame                          id <...>\n[500 rows x 74 columns]

The overall sentiment of the language of kitty twitter is rather positive.
And the tweets tend to be subjective.

In [173]:
# What do you think the sentiment of gasprices might be?
# get the overall sentiment and see if it matches your prediction.

In [174]:
! twarc2 csv output_data/hashtag_gasprices_flat.jsonl > output_data/hashtag_gasprices_flat.csv
hashtag_gasprices_df = pandas.read_csv("output_data/hashtag_gasprices_flat.csv", low_memory=False)

In [175]:
gasprices_list = ' '.join(hashtag_gasprices_df['text'].tolist())
gasprices_blob = textblob.TextBlob(gasprices_list)
print("Hashtag Gas Prices: ") 
gasprices_blob.sentiment

Hashtag Gas Prices:

Sentiment(polarity=0.0783091422742766, subjectivity=0.44952337845641754)

In [176]:
hashtagcats_list = ' '.join(hashtagcats_df['text'].tolist())
hashtagcats_blob = textblob.TextBlob(hashtagcats_list)
print("Hashtag Cats of Instagram: ") 
hashtagcats_blob.sentiment

Hashtag Cats of Instagram:

Sentiment(polarity=0.17576840733247795, subjectivity=0.5069781628198716)

# Episode 9: Data Management

In [177]:
!twarc2 counts --granularity "day" --text "amazon"

2022-05-18T19:01:36.000Z - 2022-05-19T00:00:00.000Z: 165,555
2022-05-19T00:00:00.000Z - 2022-05-20T00:00:00.000Z: 901,748
2022-05-20T00:00:00.000Z - 2022-05-21T00:00:00.000Z: 997,128
2022-05-21T00:00:00.000Z - 2022-05-22T00:00:00.000Z: 886,323
2022-05-22T00:00:00.000Z - 2022-05-23T00:00:00.000Z: 879,225
2022-05-23T00:00:00.000Z - 2022-05-24T00:00:00.000Z: 958,902
2022-05-24T00:00:00.000Z - 2022-05-25T00:00:00.000Z: 1,034,252
2022-05-25T00:00:00.000Z - 2022-05-25T19:01:36.000Z: 838,315

Total Tweets: 6,661,448